.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid black;
    padding-bottom: 1vh;
    background-color: rgb(38 173 36 / 66%);
    font-size: xx-large;
}

.logo-img {
    height: 7vw;
    width: 18vh;
    position: absolute;
    z-index: 1;
    left: 13vw;
}

.text {
    color: #b63636;
    position: absolute;
    z-index: 2;
    font-size: xx-large;
    font-size: xxx-large;
    top: -1vh;
    left: 17vw;
    /* bottom: 76vh; */
    text-shadow: 2px 2px 0px #ffffff, -2px -2px 0px #fff, 2px -2px 0px #fff, -2px 2px 0px #fff;
    font-family: 'Borel', cursive;
}

.Fresh {
    display: flex;
    width: 100%;
    background-image: url(./assets/imageFloder/back4.jpg);
    height: 80vh;
    image-rendering: auto;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
}

.middle-conntent {

}

.content-img {
    display: flex;
    justify-content: center;
    height: 85vh;
    width: 30vw;

}

.circle {
    width: 45%;
    background-color: rgb(36 173 77 / 43%);
    height: 110%;
    border-radius: 50%;
    overflow: overlay;
    transform: translateX(-10vw);
    /* transform: translateY(10px);*/
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.circe-text {
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin: 13px
}

.logo {
    height: 15vh;
    width: 10vw;
    /* background-color: blue; */
}

.top-catogry {
    padding: 5vh;
    font-size: xx-large;
    /* background-color: blueviolet; */
}

.catogrey-card {
    height: 35vh;
    width: 30vh;
    background-color: #FFF;
    border-radius: 2vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
    box-shadow: 1px 1px 2px #868080;
    border: 0.5px solid gray;
}

div.catogrey-card p {
    font-size: x-large;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

div.top-menu p {
    font-size: xx-large;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    align-items: center;
    align-self: center;
}

.catogrey-card:hover {
    cursor: pointer;
    /* height: 38vh;
    width: 33vh; */
}

.top-menu {
    justify-items: center;
    align-items: center;
    text-align: center;
}

.category-cards-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 3vh;
    overflow: hidden;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px; */
}

.slider {
    background-image: url(./assets/imageFloder/slider-main.jpg);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 0vh;
    padding-bottom: 32%;
    /*
  
    /* height: ; */
}

.slide-show {
    display: flex;
    align-items: center;
    justify-content: start;

}

.slide-image {
    border: 3px solid #7d7575;
    background-size: cover;
    object-fit: cover;
    overflow: hidden;
    height: 60vh;
    justify-self: center;
    align-self: center;
    /* padding-block: 4vh; */
    border-radius: 6vh;
    margin-left: 4vw;
    margin-block: 4vh;
    transition: opacity 1s ease;
}

/* .triangle {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid #ff0000; 
    position: relative;
    margin: 100px auto 0; 
  } */
.cat-image {
    /* background-repeat: no-repeat; */
    background-size: cover;
    object-fit: cover;
    height: 80%;
    width: 90%;
    padding: 1vh;
    border-radius: 10%;
}

.tabs {
    width: 55vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: 'Ubuntu', sans-serif;
    /* background-color: green;
   
    /* background-color: green; */
}

.footer {
    background-color: rgb(103 235 17 / 70%);
    justify-content: center;
    display: grid;
    align-items: center;
    text-align: center;
    position: relative;
    bottom: -45px;
    width: 100%;
    border-top: 1px solid black;
}

.footer-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.tabs:hover {
    color: red !important;
    /* Change text color on hover */
    cursor: pointer;
    /* Change cursor to a pointer on hover */
}

.nav-text {
    color: black;
    font-size: 1em
}

.nav-text:hover {
    color: rgb(255, 255, 255);
    font-size: 1em;
    text-decoration: underline #fff 1px;
}

.body {
    /* background-image: url('bg.png'); */
    margin: 0;
}

/* Styling for the drawer container */
.drawer-container {
    display: flex;
    position: relative;
    display: none;
}

/* Styling for the drawer panel */
.drawer {
    width: 55%;
    height: 100%;
    background-color: #f0f0f0;
    position: absolute;
    top: 0;
    left: -300px;
    transition: left 0.5s ease;
    display: none;

}

/* Styling for the main content */
.main-content {
    flex: 1;
    padding: 20px;
}

/* Styling for the button that toggles the drawer */
#toggle-btn {
    display: block;
    margin-bottom: 10px;
}


@media only screen and (max-width: 480px) {
    .drawer {
        display: flex;
        z-index: 5;
        position: absolute;
        height: auto;
        background-color: rgb(36 173 77 );

    }
    #toggle-btn{
        margin: 0;
        padding: 0;
        height: 7vh;
        background-color: transparent;
        border: 0;
        color: #fff;
        font-size: x-large;
        
    }
    #close-drawer-btn{
        align-self: flex-end;
        border: 0;
        background-color: transparent;
        fill: #b46b6b;
        color: #FFF;
        font-size: x-large;
        font-weight: bolder;
    }
   
    .Fresh {
        display: flex;
        width: 100%;
        background-image: url(./assets/imageFloder/back4.jpg);
        height: 50vh;
        image-rendering: auto;
        overflow: hidden;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .top-catogry {
        padding: 0vh;
        font-size: x-large;
        /* background-color: blueviolet; */
    }
    .category-cards-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 10px;
      }
 
      .catogrey-card{
        height: 30vh;
        width: 23vh;
        margin:5px;

      }

    .slider {
        background-image: none;
        width: 100%;
        height: 10vh;
        padding-bottom: 35%;
        align-items: center;
        justify-content: center;
        /* height: ; */
    }
    .slide-show{
        justify-content: center;

    }
    .circe-text {
        font-size: inherit;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        margin: 11px;
        padding-left: 10vw;
        /* margin-left: 14vw; */
    }

    div.circe-text p {
        margin-left: 10vw;
    }

    div.catogrey-card p {
        font-size: x-small;
        font-weight: bold;
        font-family: 'Courier New', Courier, monospace;
    }

    .slide-image {
        overflow: hidden;
        height: 29vh;
        justify-self: center;
        align-self: center;
        border-radius: 6vh;
        margin-left: 1vw;
    }

    .circle {
        
    width: 87%;
    background-color: rgba(36, 173, 77, 0.5);
    height: 100%;
    border-radius: 60%;
    overflow: hidden;
    transform: translateX(-16vw);
    /* transform: translateY(10px); */
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: 'center';
    margin-top: 35px;

    }

    .tabs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .drawer-container {
        display: flex;
        background-color: rgba(38, 173, 36, 0.66);
        flex-direction: row;
    }
    .nav-text {
        color: #fff;
        font-size: 1em;
        text-decoration: underline;
    }

    .main-content {
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logo-img {
        display: none;
    }

    .text {
        position: absolute;
        text-shadow: 2px 2px 0px #ffffff, -2px -2px 0px #fff, 2px -2px 0px #fff, -2px 2px 0px #fff;
        font-family: 'Borel', cursive;
        /* background-color: #b63636; */
        justify-content: center;
        align-content: space-around;
        top: 0;
        margin: 4%;
        left: 105px;
        align-self: center;
        font-size: xx-large;
    }

    .menu-img {
        height: 7vh;
        opacity: 0.5;
    }

    .logo {
        height: 11vh;
        width: 80%;
        /* background-color: blue; */
        align-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer {
        width: 100%;
    }

    .footer-item {
        padding: 0%;
        margin: -13px;
    }

    .navigation {
        display: none;
    }
}


/* phto chnnagefor ipad */
@media only screen and (min-width: 481px) and (max-width: 900px) {}
